---

- name: CAPTURE INTERFACE BLOCK
  block:
  - name: Capture and parse 'show interface'
    ansible.utils.cli_parse:
      command: "show interfaces"
      parser: 
        name: ansible.netcommon.ntc_templates
    register: _int_result
    vars:
      ansible_connection: ansible.netcommon.network_cli
  - ansible.builtin.debug:
      var: _int_result.parsed
      verbosity: 2
  tags: parse_intf

- name: NETBOX BLOCK
  block:

  - name: Get DB DeviceID
    netbox.netbox.netbox_device:
      netbox_url: "{{ net_netbox_url }}"
      netbox_token: "{{ net_netbox_token }}"
      validate_certs: no
      data: 
        name: "{{ inventory_hostname }}"
    register: _netbox_device

  - debug: 
      msg: "{{ lookup('template', '../templates/netbox_intf_bulk.j2') }}"
      verbosity: 2

  - name: GET all interfaces from netbox
    ansible.builtin.uri:
      url: "{{ net_netbox_url }}/api/dcim/interfaces?device={{ inventory_hostname }}&limit={{ net_max_intfs }}"
      method: GET
      status_code: [200, 201]
      headers: 
        Authorization: "Token {{ net_netbox_token }}"
        Content-Type: "application/json"
      validate_certs: false
    register: _all_netbox_intfs

  - debug: 
      var: _all_netbox_intfs.json.results | length
      verbosity: 2

  - name: DELETE all interfaces from Netbox
    ansible.builtin.uri:
      url: "{{ net_netbox_url }}/api/dcim/interfaces/"
      method: DELETE
      status_code: [204]
      headers: 
        Authorization: "Token {{ net_netbox_token }}"
        Content-Type: "application/json"
      validate_certs: false
      body: "{{ lookup('template', '../templates/netbox_delete_intf.j2') }}"
      body_format: json
    throttle: "{{ net_throttle_bulk_api }}"

  - name: POST all interfaces to Netbox
    ansible.builtin.uri:
      url: "{{ net_netbox_url }}/api/dcim/interfaces/"
      method: POST
      status_code: [200, 201]
      headers: 
        Authorization: "Token {{ net_netbox_token }}"
        Content-Type: "application/json"
      body: "{{ lookup('template', '../templates/netbox_intf_bulk.j2') }}"
      body_format: json
      validate_certs: false
    throttle: "{{ net_throttle_bulk_api }}"

  - name: Push IP addresses to device interfaces
    netbox.netbox.netbox_ip_address:
      netbox_url: "{{ net_netbox_url }}"
      netbox_token: "{{ net_netbox_token }}"
      validate_certs: false
      data:
        address: "{%if item.ip_address is defined and item.prefix_length is defined %}{{ item.ip_address }}/{{ item.prefix_length }}
          {% elif item.ip_address is defined %}{{ item.ip_address }}
          {% else %}{{ item.local }}{{ item.destination | regex_replace('^.*/','/') }}{% endif %}"
        assigned_object:
          name: "{{ item.interface }}"
          device: "{{ inventory_hostname }}"
    loop: "{{ _int_result.parsed }}"
    loop_control:
      label: "{{ item.interface }}"
      extended: true
    when: (item.ip_address is defined and item.ip_address != "")
      or (item.local is defined and item.local != "" and item.destination is defined and item.destination != "")
  tags: [netbox]


