[
    {% for _intf in _int_result.parsed %}
    {
        "device": "{{ _netbox_device.device.id }}",
        "name": "{{ _intf.interface }}",
        "type": "1000base-tx",
        "description": "{{ _intf.description }}",
        "mtu": "1500"
    },
    {% endfor %}
]